In [64]:
#importing the dependencies
import csv
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

In [65]:
# Load the dataset from the provided path

origin_data = pd.read_csv("house_price_prediction_dataset.csv")

In [71]:
# Displaying the unfiltered first 5 rows of data
origin_data.head()

,Id,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,1,1360,5,4,3,1970,Downtown,Excellent,No,149919
1,2,4272,5,4,3,1958,Downtown,Excellent,No,424998
2,3,3592,2,2,3,1938,Downtown,Good,No,266746
3,4,966,4,2,2,1902,Suburban,Fair,Yes,244020
4,5,4926,1,4,2,1975,Downtown,Fair,Yes,636056

In [67]:
# Describing the shape of the data by indicating the number of rows and columns (rows , columns)
origin_data.shape

(2000, 10)

In [68]:
# Fetching first 20 rows
origin_data.head(20)

,Id,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,1,1360,5,4,3,1970,Downtown,Excellent,No,149919
1,2,4272,5,4,3,1958,Downtown,Excellent,No,424998
2,3,3592,2,2,3,1938,Downtown,Good,No,266746
3,4,966,4,2,2,1902,Suburban,Fair,Yes,244020
4,5,4926,1,4,2,1975,Downtown,Fair,Yes,636056
5,6,3944,1,2,1,1906,Urban,Poor,No,93262
6,7,3671,1,1,2,1948,Rural,Poor,Yes,448722
7,8,3419,2,4,1,1925,Suburban,Good,Yes,594893
8,9,630,2,2,1,1932,Rural,Poor,Yes,652878
9,10,2185,3,3,1,2000,Downtown,Poor,No,340375
10,11,1269,1,4,2,1947,Suburban,Poor,Yes,653685
11,12,2891,4,4,3,1978,Urban,Excellent,Yes,127123
12,13,2933,4,3,2,1901,Downtown,Poor,No,849947
13,14,1684,1,1,1,2004,Rural,Good,No,399355
14,15,3885,1,3,1,1970,Urban,Fair,Yes,481838
15,16,4617,1,4,2,1931,Downtown,Poor,No,853032
16,17,3404,2,1,1,1903,Urban,Fair,Yes,208964
17,18,974,2,2,1,1919,Downtown,Poor,Yes,905742
18,19,1582,2,2,2,2013,Suburban,Good,No,989305
19,20,3058,5,2,2,2016,Downtown,Excellent,No,218767

In [69]:
# Checking for any duplicate values
origin_data.duplicated().sum()

np.int64(0)

In [73]:
origin_data.head()

,Id,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,1,1360,5,4,3,1970,Downtown,Excellent,No,149919
1,2,4272,5,4,3,1958,Downtown,Excellent,No,424998
2,3,3592,2,2,3,1938,Downtown,Good,No,266746
3,4,966,4,2,2,1902,Suburban,Fair,Yes,244020
4,5,4926,1,4,2,1975,Downtown,Fair,Yes,636056

In [ ]:
# Finding the datatype
origin_data.dtypes

In [ ]:
origin_data.info()

In [ ]:
# Checking to see if we have any null values within the dataset
origin_data.isnull().sum()

In [ ]:
origin_data.head()

In [ ]:
# Creation of single level variables
# ----------------------

In [ ]:
# finding the average price depending on the location (analysis),rounding to two decimal
location_price = origin_data.groupby("Location")["Price"].mean().round(2)
print(location_price)

In [ ]:
 # findinf the average priceof the house by condition(excellent,good ,poor)
condition_price = origin_data.groupby("Condition")["Price"].mean().round(2)
print(condition_price)

In [ ]:
# analysing the price of house based on number of bedrooms
bedroom_price = origin_data.groupby("Bedrooms")["Price"].mean().round(1)
print(bedroom_price)

In [ ]:
plt.figure(figsize=(5,3))
plt.bar(bedroom_price.index ,bedroom_price, color='r', alpha= 0.7, align= 'center')
plt.title('Price Based on Number of Bedrooms')
plt.xlabel("Number of Bedrooms")
plt.ylabel("AveragePrice")
plt.show()

In [ ]:
#creation of variable to show the median price based on the year built
yearbuilt_median_price = origin_data.groupby('YearBuilt')['Price'].median()
print(yearbuilt_median_price)

In [ ]:
# create a new column for the age of the house:(addinf a new columns name age_of_house)
house_age = origin_data["Age_of_House"]= 2024-origin_data["YearBuilt"]
print(house_age)

In [ ]:
# New Variable created testing the floor area average
floors_avg_area = origin_data.groupby('Floors')['Area'].mean()
print(floors_avg_area)

In [ ]:
# New variable to determine price by number of bathrooms present in house
bathrooms_min_price = origin_data.groupby('Bathrooms')['Price'].min()
print(bathrooms_min_price)

In [ ]:
# Location conditions relative to the average price
location_condition_avg_price = origin_data.groupby(['Location', 'Condition'])['Price'].mean()
print(location_condition_avg_price)

In [ ]:
# the price of a hosue relative to the factor garage
garage_max_price = origin_data.groupby('Garage')['Price'].max()
print(garage_max_price)

In [ ]:
# Location count based on ID
location_count = origin_data.groupby('Location')['Id'].count()
print(location_count)

In [ ]:
# Total price by area
total_price_by_area = origin_data.groupby('Area')['Price'].sum()
print(total_price_by_area)

In [ ]:
# Data grouped by area
total_houses_by_area = origin_data.groupby('Area')['Id'].count()
print(total_houses_by_area)

In [ ]:
# multi-level variables
# -----------------------

In [ ]:
# creation of variable showing the percentage of total houses in each location
total_houses = location_count.sum()
location_percentage = (location_count / total_houses) * 100
print("Percentage of houses in each location:")
print(location_percentage)

In [ ]:
#calculating the price per house by area (relative to the number of houses in an area
price_per_house_by_area = total_price_by_area / total_houses_by_area
print(price_per_house_by_area)

In [ ]:
#total_price_by_area = origin_data.groupby('Area')['Price'].sum()
#print(total_price_by_area)

In [ ]:

import matplotlib.pyplot as plt
total_price_by_area = origin_data.groupby('Condition')['Price'].sum()

plt.bar(total_price_by_area.index,total_price_by_area.values, color='green')
plt.title("Average price by condition")
plt.xlabel("Condition")
plt.ylabel("Average price")
plt.show()